

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: pink;
}

*{
  outline: none;
}

div.new-game{
  max-width: 300px;
  background-color: lightpink;
  padding: 40px;
  border-radius: 8px;
  min-width: 40vw;
  /* width: fit-content; */
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  /* min-height: 70vh; */
  text-align: center;
  /* top: 30%; */
  /* display: block; */
  /* color: white; */

}

.new-game-label{
  color: white !important;
  /* font-size: 20px; */
}

.ui.form.field input {
  height: 60px;
  font-size: 50px;
  line-height: 50px;
  background-color: pink;
}

h1.ui.header {
  color: pink;
  position: absolute;
  top: 8%;
  left: 30%;
  font-size: 40px;
  /* font-size: 40px; */
}

div.memo{
  color: rgb(222, 58, 109);
  text-shadow: .5px .5px black;
  text-align: center;
  /* color: purple; */
  font-weight: bold;
  position: absolute;
  right: 83%;
  top: 42.5%;
  font-size: 30px;
  max-width: 240px;
  max-height: 300px;
  font-style: italic;
  line-height: 40px;
}



div.memo-heart img{
  position: absolute;
  right: 82.5%;
  top: 36%;
  max-width: 260px;
  height: 450px;
}

ui.form{
  max-width: 300px;

}

#welcome-back{
  /* color: rgb(222, 58, 109); */
  color: lightpink;
  font-size: 3.9em;
  text-shadow: 4px 4px rgb(222, 58, 109);
  top: 13%;
  /* font-weight: bold; */
}

div.ui.header{
  color: rgb(86,115,198);
}

#welcome-sub{
  color: pink;
}

#card-group{
  margin-left: 5%;
  margin-top: 10%;
}

button#submit-new-game.ui.button, button#cancel-new-game.ui.button{
  color: rgb(222, 58, 109);
}

#new-game, #exit-button{
  margin-top: 60px;
  margin-left: 45%;
  background-color: rgba(245, 245, 245, .6);
  border-width: 4px;
  border-radius: 5px;
  padding: 15px;
  font-weight: bold;
  color: rgb(222, 58, 109);
  font-size: 25px;
  border-color: rgb(222, 58, 109) !important;
  font-family: 'Raleway', sans-serif !important;
}

.mini-grid{
  background-color: grey;
  height: 250px;
  width: 200px;
  display: inline-block;
  color: white;
}

.ui.form .field>label{
  font-size: 20px;
  line-height: 26px;
  /* color: rgb(125,204,169); */
  color: pink;
}

.ui.form{
  font-size: 20px;
}

/* .ui.form input[type=text], .ui.form input[type="submit"]{
  background-color: rgb(125,204,169);
  color: white;

} */

#mini-grid-container{}

.game-summary{
  background-color: grey;
  height: 250px;
  width: 200px;
  display: inline-block;
  color: white;
  padding: 20%;
}

div.mini-card{
  height: 35px;
  /* max-width: 25px; */
  margin: 10px;
  background-color: rgb(125,204,169);
  border-radius: 5px;
  border-color: pink;
  border-width: 1px;
  border-style: solid;
}

.game-buttons {
  width: 200px;
}
/*
.timer {
  height: 120px;
  width: 150px;
  border-style: solid;
  border-color: purple;
  background-color: pink;
  color: purple;
  opacity: .4;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  line-height: 120px;
} */

/* .game-card {
  color: red;
} */


div.ui.card.game-card{
  margin: 30px;
  color: grey;
  padding: 40px;
  background-color: rgb(243,202,109);
  border-color: white;
  border-style: solid;
  border-width: 5px;
}

.ui.cards>.card>.content{
  font-size: 18px;
}

button.ui.button{
  background-color: white;
}

.game-card img{
  height: 100px;
  width: 100px;
}

body {
  /* background-image: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/299460/0779ebb4bd7ab04f7858d8d0bb91f0de3ef2c958.jpg"); */
  background-image: url("https://images.onlinelabels.com/images/clip-art/Clue/Clue_Simple_Clouds.png");
  background-size: cover;
  color: pink;
  justify-content: center;
  /* border-style: solid;
  border-width: 50px;
  border-color: pink; */
}

.me {
  max-height: 400px;
  max-width: 550px;
  display: inline-block;
}

.memory-card {
  background-color: pink;
  margin: 10px;
  height: 120px;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
}

div.card-img {
  min-height: 100px;
  min-width: 75px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  /* padding-right: 5px; */
  /* background-image: url(./golden_bruno.png); */
  background-size: cover;
  background-color: rgb(125,204,169);
  /* background-color: rgb(125,204,169); */

}

.App-header input{
  border-radius: 20px;
  padding: 20px;
}

.App-header input[type="submit"]{
  background-color: pink;
  padding: 10px;
  border-radius: 15px;


}

div.flipped-img img {
  height: 100px;
  width: 75px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  background-color: pink;
}

.baby-cage-div {
/* margin-top: 60px; */
height: 350px;
width: 300px;
position: absolute;
top: 50%;
/* right: 20%; */
/* bottom: 60%; */
/* z-index: -3; */
}

img.in-cage {
  position: absolute;
  max-height: 200px;
  max-width: 180px;
  height: 90%;
  width: 90%;
  bottom: 50%;
  right: 64%;
  /* left: 1%; */
  /* z-index: -5; */
}

img.cage{
  position: absolute;
  height: 110%;
  width: 120%;
  z-index: 10;
  right: 32%;
  bottom: 44%;
}

/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.baby-shelf-div {
margin: 20px;
height: 330px;
width: 180px;
border-radius: 30px;
position: fixed;
left: 75%;
bottom: 60%;
}

img.on-shelf {
  position: relative;
  height: 30%;
  width: 45%;
  top: 40%;
  left: 25%;
}

img.shelf{
  position: relative;
  height: 120%;
  width: 150%
}

.baby-label {
  position: fixed;
}

.game {
  text-align: center;
}

.game-over {
  position: fixed;
}

.start-game, div.thank-you, div.disappointing {
  max-width: 550px;
  height: 600px;
  border-style: solid;
  border-width: 15px;
  border-radius: 5px;
  border-color: rgb(222, 58, 109);
  opacity: 0.8;
  background-color: white;
  color: rgb(222, 58, 109);
  font-size: 100px;
  line-height: 180px;
  display: inline-block;
  position: absolute;
  right: 550px;
  top: 20%;
  margin-top: 30px;
}

.ui.form input[type=text], .ui.form input[type=text]:focus, .ui.form input[type=text]::placeholder, .ui.form select{
  background-color: rgb(222, 58, 109);
  padding: 10px;
  color: lightpink;
}

/* button#submit-new-game.ui.button{
  border-color: red !important;
  border-style: solid;
  border-width: 3px;
  background-color:
} */

.grid {
  display: inline-block;
  /* left: 50%; */
}

div.ui.grid.cards{
  /* margin-left: 250px !important; */
}

.thumbnail{
  text-align: center;
}

.board-game {
  margin-top: 60px;
  text-align: center;
  display: inline-block;
  width: 550px;
  height: 600px;
  float: right;
  display: inline-block;
  position: absolute;
  right: 500px;
  top: 20%;
}

.centered-content{
  text-align: center;
  right: 400px;
}

#timer-container{
  min-width: 230px;
  max-width: 230px;
  max-height: 130px;
  min-height: 130px;
  padding-bottom: 20px;
}

div#timer {
  width: 240px;
  height: 130px;
  line-height: 130px;
  /* color: red; */
  text-shadow: 4px 4px rgb(222, 58, 109);
  font-size: 70px;
  font-family: sans-serif !important;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(222, 58, 109);
  background-color: lightpink !important;
  border-radius: 30px;
  text-align: center;
  /* padding-bottom: 30px !important; */
  /* top: 10px; */
  left: 500px;
  position: absolute;
  color: white;
}

/* .thank-you{
  font-size: 50px;
  color: black;
  background-color: green;
  height: 500px;
  width: 200px;
  line-height: 70px;

} */

#pause-game {
  top: 19%;
  right: 720px;
  font-size: 30px;
  background-color: rgba(245, 245, 245, .6);
  border-color: rgb(222, 58, 109);
  border-style: solid;
  border-width: 2px;
  color: rgb(222, 58, 109);
  border-radius: 20px;
  padding: 6px;
  margin-top: 5px;
  position: absolute;
}

#pause-game:hover{
  background-color: rgba(25, 48, 134, .5);
  color: white;
}

#exit-button{
  /* font-size: 30px;
  background-color: transparent;
  border-color: rgb(201,226,215);
  border-style: solid;
  border-width: 2px;
  color: rgb(201,226,215);
  border-radius: 20px; */
  padding: 10px;
  top: 85%;
  width: fit-content !important;
  right: 745px;
  position: absolute;
}

button#submit-new-game.ui.button:hover, button#cancel-new-game.ui.button:hover{
  background-color: rgba(25, 48, 134, .5);
  color: white;
}

#new-game:hover, #exit-button:hover{
  background-color: rgba(25, 48, 134, .6);
  /* color: rgb(243,202,109); */
  color: white;
}

*{
  font-family: 'Nanum Gothic', sans-serif;
}
